* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter;
  font-weight: 600;
  font-style: normal;
  /* overflow: hidden; */
}

* ::selection { 
  background: #550000; color: #ffffff; 
}
